History/
__Previews/
PCB/Project Logs for CMD3_KIT/
Project Outputs for CMD3_KIT/
db/
incremental_db/
output_files/
Software/Quartus_exp/output_files/
work/
*.wlf
*.bak
Software/lib/Modules/ModelSim/work/
**/transcript
*.qws
